// Transition
$transition: all 0.3s ease;

// Color theme
$color1: #8685ef;
$color2: #ececec;
$color3: #d1cee1;
$color4: #1a1a1a;
$color5: #1a1a1a;

// Colors applied
$nav-bg: $color4;
$nav-txt: $color2;
$welcome-txt1: $color2;
$welcome-txt2: $color1;
$projects-bg: $color2;
$about-bg: linear-gradient(darken($color: $color2, $amount: 10), $color2,darken($color: $color2, $amount: 20));
$about-txt: $color4;
$contact-bg: linear-gradient($color2, darken($color: $color2, $amount: 20));