@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import './_variables.scss';

* {
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth;
    box-sizing: content-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: $about-bg;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 20px;
}
h2 {
    font-size: 1.5rem;
    font-weight: 300;
}
nav {
    @keyframes navbarAppear {
        from {
            top: 10px;
            height: 0px;
            width: 0%;
        }
        to {
            top: 10px;
            width: 30%;
            height: 40px;
        }
    }
    background-color: $nav-bg;
    position: fixed;
    @media screen and (min-width: 751px) {
        animation: navbarAppear 0.4s ease-out forwards;
    }
    border-radius: 31px 31px 31px 31px;
    box-shadow: -5px 7px 20px -4px rgba(0,0,0,0.76);
    color: $nav-txt;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font: {
        size: 1.25em;
        weight: 600;
    }
    z-index: 2;
        .nav-link {
            width: 34%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $transition;
            &:hover {
                background-color: lighten($color: $nav-bg, $amount: 15);
                color: $color1;
            }
        }
        .about {
            border-radius: 31px 0px 0px 31px;
        }
        .contact {
            border-radius: 0px 31px 31px 0px;
        }
}
#welcome-section {
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: url(https://i.imgur.com/xpYWnGq.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: darken($color: $color4, $amount: 5);
        opacity: 0.82;
    }
    h1, h2, #scroll-down {
        z-index: 1;
    }
    h1 {
        color: $welcome-txt1;
        font-size: 5rem;
        padding-bottom: 10px;
    }
    h2 {
        color: $welcome-txt2;
    }
    #scroll-down {
        position: absolute;
        bottom: 10px;
        width: 100%;
        i {
            color: $color2;
            font-size: 1.25rem;
            opacity: 0.9;
        }
    }
}
#about {
    color: $about-txt;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    h1 {
        text-align: center;
    }
    #personal-photo {
        width: 450px;
        height: 450px;
    }
    #about-cont-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        #about-text {
            padding: 30px;
            width: 30%;
            height: auto;
            color: $color2;
            background-color: rgba(54, 54, 54, 0.5);
            border-radius: 25px;
            border: 0px solid #000000;
        }
    }
}
#tec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    &-items-container {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        column-gap: 5%;
        row-gap: 15%;
        justify-items: center;
        align-items: center;
        .tec-item {
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .tec-img {
                width: 200px;
                height: 200px;
            }
            .tec-title {
                padding-top: 10%;
            }
    }
    }
}
#projects {
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
            font-weight: 500;
        }
    }
    #projects-container {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .preview {
            width: 380px;
            height: 266px;
            margin-bottom: 0;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border: 0px solid #000000;
        }
        .project-tile {
            position: relative;
            text-align: center;
        }
        .project-name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 380px;
            height: 266px;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border: 0px solid #000000;
            background-color: rgba(54, 54, 54, 0.8);
            color: $color2;
            opacity: 0;
            transition: $transition;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
            p {
                padding-top: 30%;
                padding-bottom: auto;
            }
        }
    }

}
#contact {
    width: 100%;
    height: 80vh;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 3%;
    color: $color4;
    padding-bottom: 5%;
    .title-container {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        h1 {
            padding-bottom: 3px;
        }
        margin-bottom: 3%;
    }
    #form {
        margin-left: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
            display: flex;
            width: 100%;
            flex-direction: column;
            input, textarea {
                width: 60%;
                height: 2.5rem;
                margin-top: 2%;
                padding-left: 1rem;
                border: 2px solid $color1;
                border-radius: 10px;
                background: none;
                opacity: 0.5;
                transition: $transition;
                color: $color4;
                font-size: 1rem;
                &:focus {
                    background: $color3;
                    opacity: 1;
                }
            }
            textarea {
                padding-top: 0.5rem;
                height: 9rem;
            }
            label {
                font-size: 0.8rem;
            }
        }
        button {
            width: 25%;
            height: 3rem;
            border: none;
            background: $color1;
            color: $color2;
            border: 1px solid $color4;
            font-size: 1rem;
            cursor: pointer;
        }
    }
    #contact-info-container {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin-right: 20%;
        #text-container {
            font-size: 1.25rem;
            width: 50%;
        }
        #email-container {
            color: $color4;
        }
        #socialmedia {
            display: flex;
            justify-content: space-between;
            width: 30%;
            .icon {
                width: 40px;
                height: auto;
            }
        }
    }
}
// Media query for mobile
@media screen and (max-width: 750px) {
    section {
        margin-bottom: 15%;
    }
    #navbar {
        position: fixed;
        top: unset;
        bottom: 2%;
        width: 60%;
        height: 40px;
        font-size: small;
    }
    #welcome-section {
        #scroll-down {
            opacity: 0;
        }
    }
    #about {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        #about-cont-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            #about-text {
                font-size: 1rem;
                width: 80vw;
            }
            #personal-photo {
                width: 250px;
                height: 250px;
            }
        }
    }
    #tec {
        height: 100vh;
        &-items-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        padding-bottom: 25%;
            .tec-item {
                width: 100px;
                .tec-img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    #about, #projects, #tec {
        height: max-content;
        width: 100%;
    }
    #projects {
        .title-container {
            h2 {
                display: none;
            }
        }
        #projects-container {
            .project-tile {
                width: 90%;
                margin-bottom: 1.5rem;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    #contact {
        height: 100vh;
        width: 100%;
        #contact-info-container {
            display: flex;
            flex-direction: column;
            .contact-item {
                padding-bottom: 15%;
                .contact-title-bg {
                    opacity: 1;
                }
        }
    }
    }
    .title-container {
        margin-bottom: 2rem;
    }
}