@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import './colors.scss';

* {
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth;
    box-sizing: content-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column wrap;
}
a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 50px;
}
h2 {
    font-size: 1.5rem;
    font-weight: 300;
}
nav {
    background-color: $nav-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    color: $nav-txt;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font: {
        size: 1.25em;
        weight: 600;
    }
    z-index: 4;
    #navtitle {
        padding-left: 20px;
    }
    #navlinks-container {
        display: flex;
        flex-flow: row nowrap;
        padding-right: 25px;
        .nav-link {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
#welcome-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-image: url(https://i.imgur.com/Ha1UiA2.jpg);
    width: 100%;
    height: 100vh;
    z-index: 3;
    h1 {
        color: $welcome-txt1;
    }
    h2 {
        color: $welcome-txt2;
    }
    #scroll-down {
        margin: 150px auto 25px auto;
        position: relative;
        top: 30%;
        img {
            width: 40px;
            height: auto;
        }
        p {
            font: {
                size: 0.9rem;
                weight: 300;
            }
            padding-bottom: 7px;
        }
    }
}
#about {
    background-color: $about-bg;
    color: $about-txt;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    h1 {
        text-align: center;
    }
    #personal-photo {
        width: 450px;
        height: 450px;
    }
    #about-cont-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        #about-text {
            padding: 30px;
            width: 30%;
            height: auto;
            background-color: rgba(54, 54, 54, 0.5);
            border-radius: 11px 11px 11px 11px;
            -moz-border-radius: 11px 11px 11px 11px;
            -webkit-border-radius: 11px 11px 11px 11px;
            border: 0px solid #000000;
        }
    }
}
#projects {
    background-color: $color2;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    #projects-container {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .preview {
            width: 380px;
            height: 266px;
            margin-bottom: 0;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border: 0px solid #000000;
        }
        .project-tile {
            position: relative;
            text-align: center;
        }
        .project-name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 380px;
            height: 266px;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border: 0px solid #000000;
            background-color: rgba(54, 54, 54, 0.8);
            color: $color2;
            opacity: 0;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
            p {
                padding-top: 30%;
                padding-bottom: auto;
            }
        }
    }

}
#contact {
    width: 100%;
    height: 80vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    background-color: $color3;
    text-align: center;
    color: $color2;
    #contact-info-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .contact-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
        .icon {
            width: 50px;
            height: auto;
            margin-bottom: 10px;
            &:hover {
                cursor: pointer;
            }
            &:hover + .contact-title-bg {
                opacity: 1;
            }
        }
        .contact-title-bg {
            width: 220px;
            height: 25px;
            background-color: rgba(54, 54, 54, 0.5);
            opacity: 0;
        }
        .contact-title {
            padding-top: 2px;
        }
    }
    }
}
// Media query for mobile
@media screen and (max-width: 750px) {
    #navbar {
        position: fixed;
        top: unset;
        bottom: 0px;
        #navtitle {
            opacity: 0;
        }
    }
    #welcome-section {
        height: 100vh;
        #scroll-down {
            opacity: 0;
        }
    }
    #about {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        #about-cont-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            #about-text {
                font-size: 1rem;
                width: 80vw;
            }
            #personal-photo {
                width: 250px;
                height: 250px;
            }
        }
    }
    #about, #projects {
        height: max-content;
        width: 100%;
    }
    #contact {
        height: 100vh;
        width: 100%;
        #contact-info-container {
            display: flex;
            flex-direction: column;
            .contact-item {
                padding-bottom: 15%;
                .contact-title-bg {
                    opacity: 1;
                }
        }
    }
    }
}